@media screen and (max-width: 768px){
    #title, #our-work, #nature, #potrait, #wedding, #contact{
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 50vh;
        
    }
    #title .left{
        height: 60vh;
    }
    .right{
        width: 100%;
        height: 50vh;
    }
    .left .content{
        margin-left: 2em;
        margin-top: 3em;
    }
    .right .gallery{
        margin: 3em 2em 2em 2em;
        
    }
    #our-work .left, #nature .left, #potrait .left, #wedding .left, #contact .left{
        height: 50%;
        padding-bottom: 2em;
    }
    #our-work .right, #nature .right, #potrait .right, #wedding .right, #contact .right{
        height: 50%;
    }
    
    .left .content h1{
        font-size: 3em;
    }
    #title .left .content{
        margin-left: 4em;
        margin-top: 3.5em;
    }
    #title .left .content h1{
        font-size: 4.5em;
        margin-bottom: 0;
        letter-spacing: 5px;
    
    }
    #title .left .content .bbutton{
        margin-left: 0;
        
        margin-bottom: 2em;
    }
    #title .left .content button{
        margin-right: 1em;
       
        height: 3em;
        width: 8em;
        padding: 0 0.5em;
        
        
    }
    #our-work .left .content i, .left .content .text{
        display: none;
    }
    .right .gallery p{
        font-size: 1em;
        line-height: 1.2em;
        margin-bottom: 3em;
        text-align: justify;
    }
    .right .gallery .grid img{
        height: 100%;
        width: 100%;
    }
    .right .gallery .grid{
        grid-gap: 10px;
        padding-left: 1em;

        
    }
    .right .gallery .grid .one{

        height: 200px;
        width: 310px;
    }
    .right .gallery .grid .two{
        height: 200px;
        width: 150px;
    }
    .right .gallery .grid .three{
        height: 200px;
        width: 150px;
    }
    .right .gallery .grid .four{
        height: 200px;
        width: 310px;
    }
    #contact .left .content .details{
        margin: 1em;
        font-size: 1em;
        padding-bottom: 2em;
    }
    #contact .left .content .details h4{
        font-size: 1.2em;
        letter-spacing: 2px;
        margin: 0;
        
    }
    #contact .left .content .details p{
        margin-bottom: 2em;
        
    }
    #contact .left .content .details i{
        margin: 1em 1em 1em 0;
    }
    #contact .right form{
        margin: 2em;
    }
}